$primary: #8ba0d3;
$secondary: #7284ad;
$font-default: 16px;
$border-color: #111111;
$border-radius-default: 8px;

@mixin card($border-color, $border-radius-default) {
    border: 2px solid $border-color;
    border-radius: $border-radius-default;
    margin: 10px;
    padding: 15px;
}

.card {
    @include card($primary, $secondary, $border-radius-default);
    &__title {
        font-size: $font-default * 2;
    }
    &__img-container {
        margin: 20px;
    }
    &__description {
        font-size: $font-default;
    }

    &--gradient {
        background: linear-gradient(75, $primary, $secondary);
    }
}

img {
    width: 100%;
    height: 100%;
}